/* ==========One Page Style========== */
.app {
 position: relative;
 height: 100vh;
 overflow: hidden;
}
.owl-carousel,
.owl-stage-outer,
.owl-stage,
.owl-item {
 height: 100%;
 width: 100%;
 overflow: hidden;
}
.app .item {
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
 width: 100%;
}
video {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 z-index: -1;
}
.owl-dots {
 position: absolute;
 top: 50%;
 right: 10px;
 z-index: 2;
 height: 500px;
 width: 300px;
 display: flex;
 flex-direction: column;
 align-items: end;
 justify-content: center;
 transform: translateY(-50%);
}
.owl-dots .owl-dot {
 height: 12px;
 width: 12px;
 background-color: #fff !important;
 border-radius: 50%;
 margin-bottom: 10px;
}
.owl-dots .owl-dot.active {
 background-color: black !important;
 border: 1px solid #fff;
}
.app .element-text {
 position: absolute;
 bottom: 60px;
 left: 50px;
 color: #fff;
 font-size: 50px;
 text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 z-index: 2;
}
/* Media */
@media (max-width: 1000px) {
 .app .element-text {
  font-size: 40px;
 }
}
@media (max-width: 576px) {
 .app .element-text {
  font-size: 30px;
 }
}
