/* ==========Main Styling========== */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Roboto Condensed", serif;
}
ul {
 list-style: none;
}
a {
 text-decoration: none;
}
/* ==========Start Main Nav========== */
.app nav {
 z-index: 100;
 position: fixed;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 25px;
 background: rgb(34, 34, 34);
 background: linear-gradient(
  180deg,
  rgba(34, 34, 34, 1) 0%,
  rgba(255, 255, 255, 0) 100%
 );
}
.app nav svg {
 height: 50px;
 margin-left: 10px;
}
.app nav ul {
 display: flex;
 align-items: center;
 margin-left: 25px;
}
.app nav ul li a {
 letter-spacing: 5px;
 color: #c2c2c2;
 font-size: 30px;
 margin-right: 50px;
 text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 position: relative;
 text-transform: uppercase;
 transition: 0.3s;
}
.app nav ul li a::after {
 content: "";
 position: absolute;
 width: 0;
 height: 2px;
 bottom: 0;
 left: 50%;
 background-color: #fff;
 transition: 0.5s;
}
.app nav ul li a:hover {
 color: #fff;
}
.app nav ul li a:hover::after {
 width: 100%;
 left: 0;
}
.app nav ul li a.active {
 color: #fff;
}
/* ==========Start Footer========== */
.app footer {
 position: fixed;
 bottom: 15px;
 left: 50%;
 transform: translateX(-50%);
 z-index: 1;
}
.app footer i {
 color: #ccc;
 font-size: 25px;
 margin-left: 35px;
}
.app footer i:hover {
 color: #fff;
}
